
#include "resource.h"


IDB_TEX_100                BITMAP  DISCARDABLE     "TEX101.BMP"
IDB_TEX_101                BITMAP  DISCARDABLE     "TEX101.BMP"
IDB_TEX_102                BITMAP  DISCARDABLE     "TEX102.BMP"
IDB_TEX_103                BITMAP  DISCARDABLE     "TEX103.BMP"
IDB_TEX_104                BITMAP  DISCARDABLE     "TEX104.BMP"
IDB_TEX_105                BITMAP  DISCARDABLE     "TEX105.BMP"
IDB_TEX_106                BITMAP  DISCARDABLE     "TEX106.BMP"
IDB_TEX_107                BITMAP  DISCARDABLE     "TEX107.BMP"
IDB_TEX_108                BITMAP  DISCARDABLE     "TEX108.BMP"
IDB_TEX_109                BITMAP  DISCARDABLE     "TEX109.BMP"
IDB_TEX_110                BITMAP  DISCARDABLE     "TEX110.BMP"
IDB_TEX_111                BITMAP  DISCARDABLE     "TEX111.BMP"
IDB_TEX_112                BITMAP  DISCARDABLE     "TEX112.BMP"
IDB_TEX_113                BITMAP  DISCARDABLE     "TEX113.BMP"
IDB_TEX_114                BITMAP  DISCARDABLE     "TEX114.BMP"
IDB_TEX_115                BITMAP  DISCARDABLE     "TEX115.BMP"


// bgv



